*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main{
    width: 100vw;
    height: 100vh;
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

#heading{
    font-size: 300%;
}

#btn{
    width: 15%;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6%;
    background-color: blueviolet;
}